body
{
    background-image: url(pav/background.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Noto Sans', sans-serif
    font-style:bold;
    font-weight:500;
}


/* navbar */
.navbar-nav{
	margin-left:30px;
	margin-top:20px;
}
.nav-item{
	margin-right:30px;
}
.nav-link{
  color: white;
}
.nav-link:hover{
	color:white;
}
.nav-item:hover{
	border-bottom: 4px solid white;
}
.navbar-brand{
	margin-top:20px;
	margin-left:130px;
}

/* main  */
h1{
  font-size: 4em;
  padding-top: 1em;
}

p{
	font-size:15px;
  padding: 0.75em;
}

.btn{
  margin-top: 40px;
  padding: 15px;
  border-radius:10px;
}
#sign-up:hover{
	padding: 10px 25px;
    background-color: black;
    color:black;
    border-radius:10px;
}

#knopkes{
	margin-left:130px;

}
.dot{
  height: 25px;
  width: 25px;
  background-color: #3385ff;
  border-radius: 50%;
  display: inline-block;
  border:5px solid black;
  border-color:orange;
}
