body
{
    background-image: url(pav/background.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Noto Sans', sans-serif
    font-style:bold;
    font-weight:500;
}


/* navbar */
.navbar-nav{
	margin-top:20px;
}
.nav-item{
	margin-right:30px;
}
.nav-link{
  color: white !important;
}
.nav-link:hover{
	color:white;
}
.nav-item:hover{
    /* border-bottom: 4px solid white; */
    text-decoration: underline;
}
.navbar-brand{
	margin-top:20px;
	margin-left:130px;
}

/* main  */
h1{
  font-size: 4em;
  padding-top: 1em;
}

p{
	font-size:15px;
  padding: 0.75em;
}

.btn{
  margin-top: 40px;
  padding: 15px;
  border-radius:10px;
}
#sign-up:hover{
	padding: 10px 25px;
    background-color: black;
    color:black;
    border-radius:10px;
}
.footer input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #4677ff;
    color: #4677ff;
    top: 10px;
    height: 15px;
    width: 15px;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    margin-right: 20px;
    outline: none;
}

.footer input[type="radio"].active {
    background-color: #0043ff;
    top: 8px;
    height: 20px;
    width: 20px;
    border: 5px solid #f7bb07;
}
