body
{
    background-image: url(img/back.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Open sans', sans-serif;
}


/* navbar */
.nav-link{
  color: white;
}
.nav-link: active{
  text-decoration: underline;
}

/* main  */
h1{
  font-size: 5.5em;
  padding-top: 3em;
}

p{
  padding: 0.75em;
}

.btn{
  margin: 2em;
}
